doctype html
html(lang='en')
	head
		title
		link(rel='stylesheet' href='/style.css')
	body
		.container
			.header
				h1.site_title
					a(href='/') Twitter Clone
			.menu
			.content
				block content
			.footer
				p &copy; 2018 - @TamalWeb All rights reserved.
